In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
sns.set(style='whitegrid')
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import statsmodels.api as sm
import pickle
import gzip

In [50]:
df = pd.read_csv("DiamondsPrices.csv")

In [51]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [53]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [54]:
df = df.drop_duplicates()

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53794 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53794 non-null  float64
 1   cut      53794 non-null  object
 2   color    53794 non-null  object
 3   clarity  53794 non-null  object
 4   depth    53794 non-null  float64
 5   table    53794 non-null  float64
 6   price    53794 non-null  int64
 7   x        53794 non-null  float64
 8   y        53794 non-null  float64
 9   z        53794 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.5+ MB

In [56]:
# data=df

In [57]:
# import pandas as pd
# import numpy as np

# def remove_outliers_z_score(df, price, threshold=3):
 

#     # Calculate the Z-scores for the specified column
#     z_scores = (df[price] - df[price].mean()) / df[price].std()

#     # Find the indices of rows where the Z-score of the column is greater than the threshold
#     outlier_indices = np.where(np.abs(z_scores) > threshold)

#     # Filter out the rows containing outliers in the specified column
#     filtered_df = df.loc[~df.index.isin(outlier_indices)]

#     return filtered_df

In [58]:
# column_name = 'price'
# threshold = 3  # You can adjust this threshold value as needed

# filtered_df = remove_outliers_z_score(df, column_name, threshold)
# print(filtered_df)

In [59]:
# #Removing outliers

# #removing outliers with IQR 

# q1 = np.quantile(df.price, 0.25) #1st quantile
# q2 = np.quantile(df.price, 0.5) #2nd quantile
# q3 = np.quantile(df.price, 0.75) #3rd quantile
# IQR = q3 - q1 #Inter - Quartile Range

In [60]:
# #setting the fences on our dataset to identify the outliers

# lower = q1 - (1.5*IQR) #lower whisker
# upper = q3 + (1.5*IQR) #upper whisker

In [61]:
# #removal of lower and upper outliers in our data

# df = df[~((df.price > upper) | (df.price < lower))]

In [62]:
df.shape

(53794, 10)

In [63]:
df.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [64]:
#df=pd.get_dummies(df,prefix=['color','cut','clarity'],drop_first=True)
#Replacing the categorical value colour, cut and clarity without using built in function for categorical data
df=df.replace({'color' : { 'D' : 7, 'E' : 6, 'F' : 5, 'G' : 4, 'H': 3, 'I':2, 'J':1}})
df=df.replace({'cut': {'Ideal':5, 'Premium': 4, 'Very Good':3, 'Good':2, 'Fair':1}})
df=df.replace({'clarity': {"IF": 8, 'VVS1' :7, 'VVS2': 6, 'VS1': 5, 'VS2': 4, 'SI1':3, 'SI2': 2, 'I1':1}})
#Visualize the data frame
df.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    5      6        2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    4      6        3   59.8   61.0    326  3.89  3.84  2.31
2   0.23    2      6        5   56.9   65.0    327  4.05  4.07  2.31
3   0.29    4      2        4   62.4   58.0    334  4.20  4.23  2.63
4   0.31    2      1        2   63.3   58.0    335  4.34  4.35  2.75

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53794 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53794 non-null  float64
 1   cut      53794 non-null  int64
 2   color    53794 non-null  int64
 3   clarity  53794 non-null  int64
 4   depth    53794 non-null  float64
 5   table    53794 non-null  float64
 6   price    53794 non-null  int64
 7   x        53794 non-null  float64
 8   y        53794 non-null  float64
 9   z        53794 non-null  float64
dtypes: float64(6), int64(4)
memory usage: 4.5 MB

In [66]:
numeric_df = df.select_dtypes(include=[np.number])
numeric_df = sm.add_constant(numeric_df)

from statsmodels.stats.outliers_influence import variance_inflation_factor as vif
vif = [vif(numeric_df, i) for i in range(numeric_df.shape[1])]

pd.DataFrame(vif, index=numeric_df.columns, columns=['vif'])

                 vif
const    6746.231830
carat      39.957040
cut         1.496206
color       1.324426
clarity     1.687989
depth       1.728444
table       1.587318
price      10.764877
x          57.659557
y          20.382617
z          23.436486

In [67]:
# #Reducing three variables x, y, z to a single variable
# df['volume']= df['x']*df['y']*df["z"] 
# #now we can drop x,y,z columns
# df=df.drop(['x','y','z'], axis=1)
# #Visualizing the data frame to see the change
# df.head()

In [68]:
#df=df[df['volume']>0]

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53794 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53794 non-null  float64
 1   cut      53794 non-null  int64
 2   color    53794 non-null  int64
 3   clarity  53794 non-null  int64
 4   depth    53794 non-null  float64
 5   table    53794 non-null  float64
 6   price    53794 non-null  int64
 7   x        53794 non-null  float64
 8   y        53794 non-null  float64
 9   z        53794 non-null  float64
dtypes: float64(6), int64(4)
memory usage: 4.5 MB

In [70]:
numeric_df = df.select_dtypes(include=[np.number])
numeric_df = sm.add_constant(numeric_df)

from statsmodels.stats.outliers_influence import variance_inflation_factor as vif
vif = [vif(numeric_df, i) for i in range(numeric_df.shape[1])]

pd.DataFrame(vif, index=numeric_df.columns, columns=['vif'])

                 vif
const    6746.231830
carat      39.957040
cut         1.496206
color       1.324426
clarity     1.687989
depth       1.728444
table       1.587318
price      10.764877
x          57.659557
y          20.382617
z          23.436486

In [71]:
y= df['price'] #dependent variable is price
x= df.drop(['price'], axis=1)

In [72]:
x.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   0.23    5      6        2   61.5   55.0  3.95  3.98  2.43
1   0.21    4      6        3   59.8   61.0  3.89  3.84  2.31
2   0.23    2      6        5   56.9   65.0  4.05  4.07  2.31
3   0.29    4      2        4   62.4   58.0  4.20  4.23  2.63
4   0.31    2      1        2   63.3   58.0  4.34  4.35  2.75

In [91]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# splitting the data
# x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.2)
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.63, random_state=2)
# Create a random forest regressor object
# rf_regressor = RandomForestRegressor(n_estimators=200, random_state=42)
rf_regressor2 = RandomForestRegressor(n_estimators=100, random_state=2)

# Train the regressor on the training data
# rf_regressor.fit(x_train, y_train)
rf_regressor2.fit(x_train, y_train)

# Make predictions on the test data
# y_pred = rf_regressor.predict(x_test)
y_pred2 = rf_regressor2.predict(x_test)

In [92]:
from sklearn.metrics import mean_absolute_percentage_error
# MAPE_RF = mean_absolute_percentage_error(y_test, y_pred)
# print("Mean Absolute Percentage Error (MAPE):", MAPE_RF)

In [93]:
y_pred_tr = rf_regressor2.predict(x_train)
MAPE_tr = mean_absolute_percentage_error(y_train, y_pred_tr)
print("Mean Absolute Percentage Error (MAPE):", MAPE_tr)

Mean Absolute Percentage Error (MAPE): 0.02585704660426732

In [94]:
from sklearn.metrics import mean_absolute_percentage_error
MAPE_RF = mean_absolute_percentage_error(y_test, y_pred2)
print("Mean Absolute Percentage Error (MAPE):", MAPE_RF)

Mean Absolute Percentage Error (MAPE): 0.0693806319560217

In [77]:
# from xgboost import XGBRFRegressor
# xg_regressor = XGBRFRegressor(n_estimators=500,learning_rate=0.1)
# xg_regressor.fit(x_train, y_train)

# # Make predictions on the test data
# y_pred_xg = xg_regressor.predict(x_test)

In [78]:
# MAPE_XG = mean_absolute_percentage_error(y_test, y_pred_xg)
# print("Mean Absolute Percentage Error (MAPE):", MAPE_XG)

In [95]:
model_lr = LinearRegression() #Create a linear regression model
model_lr.fit(x_train,y_train) #Fit the data

LinearRegression()

In [96]:
y_pred =  model_lr.predict(x_test)
MAPE_LR = mean_absolute_percentage_error(y_test, y_pred)
print(MAPE_LR)

0.4522569403816086

In [97]:
#rf_regressor.predict([[1.24,4,1,2,62.2,58,202.5]])

In [99]:
# with open('model.pkl', 'wb') as f:
#     pickle.dump(rf_regressor, f)

In [100]:
with open('model_lr.pkl', 'wb') as f:
    pickle.dump(model_lr, f)

In [101]:
with open('model_rf_light.pkl', 'wb') as f:
    pickle.dump(rf_regressor2, f)

In [102]:

with gzip.open('model_rf_light.pkl.gz', 'wb') as f:
    pickle.dump(rf_regressor2, f)

In [103]:
with gzip.open('model_rf_light.pkl.gz', 'rb') as file:
    model_rf_light = pickle.load(file)

In [104]:
model_rf_light.predict([[0.31, 3, 4, 4, 63.1, 58.0, 4.35, 4.30, 2.73]])

array([684.48])

In [105]:
y_pred_tr = rf_regressor2.predict(x_train)
MAPE_tr = mean_absolute_percentage_error(y_train, y_pred_tr)
print("Mean Absolute Percentage Error (MAPE):", MAPE_tr)

Mean Absolute Percentage Error (MAPE): 0.02585704660426732

In [106]:
from sklearn.metrics import mean_absolute_percentage_error
MAPE_RF = mean_absolute_percentage_error(y_test, y_pred2)
print("Mean Absolute Percentage Error (MAPE):", MAPE_RF)

Mean Absolute Percentage Error (MAPE): 0.0693806319560217